<div class="form-group">
    <label for="Navn">Navn:</label>
    <input ng-model="fCtrl.newDepotObject.Navn" class="form-control" id="Navn">
</div>
<div class="form-group">
    <label for="Beholdning">Beholdning:</label>
    <input ng-model="fCtrl.newDepotObject.Beholdning" class="form-control" id="Beholdning">
</div>
<div class="form-group">
    <label for="Note">Note:</label>
    <input ng-model="fCtrl.newDepotObject.Note" class="form-control" id="Note">
</div>
<input type="button" class="btn btn-default" value="Create">